MMOEngine
luacov.report.out
luacov.stats.out
.DS_Store
.cache
compile_commands.json
MMOCoreORB/bin/conf/config.lua
MMOCoreORB/bin/tre
MMOCoreORB/bin/bin.7z
.vscode/settings.json
MMOCoreORB/sql/old_data.sql
MMOCoreORB/.vs
MMOCoreORB/bin/scripts.7z
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
